body{
    font-family: 'Instrument Serif', serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #6e0404;
    padding: 1em 0;
}

.icon1{
    max-width: 150px;
    max-height: 150px;
}

header h1{
    color: white;
    font-size:2.5em;
    font-style: Italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #da5858;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 3)
}

nav ul li a.activo{
    background-color: #686868
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top:2em;
    text-align: center;
}

holder{
    width: 960px;
    margin: 0 auto;
}

h2{
    color:#6e0404;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}

.columnas{
    overflow:hidden;
}

.bienvenidos, .testimonios{
    box-sizing:border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}
.testimonio .cita{
    font-weight: bold;
    font-style: Italic;
    font-size: 1.4em;
    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

/* ESTILOS NOSOTROS */

.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border:1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.persona{
    text-align: center;
}

persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.persona img{
    max-width: 100px;
    max-height: 100px;
    object-fit: auto;
}

.persona h5, .persona h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1 ;
    margin: 0;
}

.personah5{
    font-size: 0.9em;
}

.personah6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
}

.persona:first-child{
    margin-left: 0;
}